body{
    background-color: rgb(255, 213, 248);
    margin: 0px;
    
}
.container .happy{
    border: 2px solid black;
    font-size: 9em;
    color: white;
    border-color: rgb(255, 112, 226);
    display: inline-block;
    background-color: rgb(245, 146, 166);
    animation-name: glow;
    animation-duration: 4.5s;
}
.container .happy .h1{
    float: left;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-duration: 3.5s; 
}
.container .birthday{
    border: 2px solid black;
    font-size: 5em;
    color: white;
    border-color: rgb(245, 89, 214);
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(253, 178, 190);
    animation-name: rotate;
    animation-duration: 2.5s;
    
}
.container .Myelena{
    border: 2px solid black;
    font-size: 5em;
    color: white;
    border-color: rgb(245, 89, 214);
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(253, 178, 190);
    animation-name: rotate;
    animation-duration: 2.5s;
}
.container .emoji{
    border: 2px solid black;
    font-size: 5em;
    color: rgb(255, 255, 255);
    border-color: rgb(245, 89, 214);
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(253, 178, 190) ;
    animation-name: rotate;
    animation-duration: 2.5s;
}
.container{
    text-align: center;
}
.container img{
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-duration: 3.5s; 
    border-color: rgb(245, 89, 214);
}
.container .Happy{
    border: 2px solid black;
    font-size: 5em;
    color: rgb(255, 255, 255);
    border-color: rgb(245, 89, 214);
    margin-top: 20px;
    display: inline-block;
    background-color: rgb(253, 178, 190) ;
    animation-name: rotate;
    animation-duration: 2.5s;
   
    margin-right: 25px
   
}
@keyframes rotate{
    100%{transform: rotateZ(360deg);}
}
@keyframes glow{
    100%{box-shadow: 0px 0px 50px rgb(246, 129, 215)}
}
