
h1{ color: rgb(255, 255, 255);
    text-align: center; 
    text-shadow: 3px 6px 9px rgb(255, 0, 212), -3px -4.5px 9px rgb(255, 255, 255);
   
}
header{
    border: 4px solid white;
    padding: 25px;
    text-align: center;
}
a{
    color: white;
    text-shadow: 5px 5px 8px white, 2px -2.8px 4px rgb(255, 0, 225);
}
a:link{
    color: rgb(255, 255, 255);
}
a:hover{
    color: white;
    font-size: 25px;
}
 
body{
   background-image: url(images/hellokittybackground2.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}