*{
    box-sizing: border-box;
}
body{
margin: 0px;
background-color: rgb(100, 99, 99);
}
h1{
    text-align: center;
    color: rgb(252, 201, 209);
    text-shadow: 3px 4px 9px hsl(0, 0%, 100%), -5px -7px 9px pink;
   
}
.Fresa{
    border: 2px solid black;
    width: 30%;
    height: 860px;
    border-color: pink;
    transition: 1.1s;
    float: left;
}
h2{
    color: rgb(250, 90, 119);
    text-shadow: 4px 2px 7px pink, -3px -3px 9px rgb(255, 207, 207);
    text-align: center;
    font-size:  1.5em;
    border-bottom: pink;
}
.Fresa:hover{
    background-color: rgb(153, 151, 151);
    opacity: 0.85;
}
.Funnel{
    float: left;
    border: 2px solid black;
    width: 40%;
    height: 860px;
    border-color: pink;
    transition: 1.1s;
}
.Funnel:hover{
    background-color: rgb(153, 151, 151);
    opacity: 0.85;
}
.Tiramisu{
    border: 2px solid black;
    width: 30%;
    height: 860px;
    border-color: pink;
    transition: 1.1s;
    float: left;
}
.Tiramisu:hover{
    background-color: rgb(153, 151, 151);
    opacity: 0.85;
}
li{
    color:hsl(0, 0%, 100%);
}


